<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Book</title>
    <style>
        html, body {
            padding: 0;
            border: 0;
            margin: 0;
        }

        body, form {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
        }
        input {
            width: 500px;
            font-size: 40px;
            color: rgb(10, 10, 10);
            border: 1px solid black;
        }
    </style>
</head>
<body>

<h1>Sign Up</h1>
<form method="post" action="/books/create/process">
    <input type="text" name="isbn" placeholder="isbn" required autofocus>
    <input type="text" name="title" placeholder="title" required>
    <input type="text" name="author" placeholder="author" required>
    <input type="text" name="price" placeholder="price" required>
    <input type="submit">
</form>

</body>
</html>